$color-primary: #F8BE1D;
$color-secondary: #000000;
$color-tertiary: #2998ff;


$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$font-family: "TTOctosquares-Black", sans-serif;
$font-montserrat: "Montserrat", sans-serif;